name: Lint

on:
  push:
    branches: [main]
  pull_request:

jobs:
  lint:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go Environment
        uses: ./.github/actions/setup-go-env

      - name: Run go vet
        run: go vet ./...

      - name: Run linter
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5.0
