name: Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go Environment
        uses: ./.github/actions/setup-go-env

      - name: Verify build
        run: make build

      - name: Run tests
        run: make test
